.introduce-yourself__name {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.introduce-yourself__personal-data-control {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: none;
}

