@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 320px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
.site-list {
  background-color: #81b3d2;
  min-width: 320px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-list {
    width: 534px;
  }
}
@media (min-width: 1280px) {
  .site-list {
    width: 882px;
  }
}
.welcome__wrapper {
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  margin-bottom: 32px;
}
.advantages__wrapper {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .advantages__wrapper {
    width: 1200px;
  }
}
.advantages__intro {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.advantages__list {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 39px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantages__list {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .advantages__list {
    width: 1200px;
  }
}
.advantages__item:nth-child(1) {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages__item:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}
.advantages-card {
  color: #000000;
  background-color: #ffffff;
}
.advantages-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages-card__list {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .advantages-card__list {
    width: 1200px;
  }
}
.advantages-card__comment {
  color: #333333;
}
.hotel-search__wrapper {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .hotel-search__wrapper {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .hotel-search__wrapper {
    width: 1200px;
  }
}
.main-footer__wrapper {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .main-footer__wrapper {
    width: 1200px;
  }
}
.copyright__text {
  font-size: 14px;
  line-height: 21px;
}
.feedback {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 24px;
  text-transform: uppercase;
  color: #000000;
  background-color: #e7e5e5;
}
.feedback__intro {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.introduce-yourself__name {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.introduce-yourself__personal-data-control {
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border: none;
}
.contact-information__details {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.contact-information__control {
  width: 222px;
  height: 58px;
  background-color: #f2f2f2;
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
}
.impression {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 39px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.impression__control {
  text-transform: none;
}
.attraction {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 39px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.attraction__control {
  text-transform: none;
}
.emotions {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.emotions__field {
  width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  padding: 16px;
  color: rgba(0, 0, 0, 0.3);
  border: none;
}
.photo-video {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: #e7e5e5;
}
.catalog-sorting__list {
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 25px;
  text-transform: uppercase;
  color: #000000;
  background-color: #e7e5e5;
}
.catalog-sorting__intro {
  text-transform: none;
}
.doubts {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #e7e5e5;
}
/*# sourceMappingURL=style.css.map */
