.advantages__wrapper {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .advantages__wrapper {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1200px;
  }
}

.advantages__intro {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages__list {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 39px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    width: 1200px;
  }
}

.advantages__item:nth-child(1) {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}
